#language
includepattern:#include ([\'\"<](\w|[\.\/])*[\'\">])
sourcepattern:^.*\.(c|h|hpp)$

#project
topDirectory:/home/kristian/byggern-nicer_code/
excludedDirectories:['.vs', 'sam', 'build']

#logfiles
tokenDirectory:logfiles/tokenizer_output/
includelog:logfiles/log_find_includes.txt
functiondeflog:logfiles/log_find_function_defs.txt
functioncallog:logfiles/log_find_function_calls.txt
constantLog:logfiles/log_find_const_ass.txt